Code - OSS
QtProject.conf
TabNine
calligrageminirc
calligrarc
calligrasheetsrc
calligrastagerc
calligrawordsrc
configstore
dconf
dunst
emaildefaults
gconf
google-chrome
gtk-2.0
gtk-3.0
htop
karbonrc
kdebugrc
kitty
light
matplotlib
mimeapps.list
nautilus
neofetch
pavucontrol.ini
pulse
spotify
systemd
vlc
yay
zathura
